<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: whitesmoke; margin-top:35px;padding-bottom: 20px;border-radius: 25px;">
    <h1 class="display-6 text-center" style="font-weight: bold; padding-left:-50px; text-align:center; color: #dc3545 ">Product Information</h1>

    <div class="card-body text-center">
        <img height="128" th:src="${'../../images/'+ cakes.name +'.png'}" width="128">
        <!--                                        alt="" class="r img-responsive mt-2"-->
        <h4 class="card-title text-center" th:text="${cakes.getName()}">Id</h4>
    </div>

    <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Product Page</h3>
    <form th:object="${cakes}" th:action="@{/cakes/edit}" method="POST">
        <input type="hidden" th:field="*{id}" id="id">

        <div class="mb-3">
            <label for="nameInput" class="form-label">Product Name</label>
            <input id="nameInput" type="text" class="form-control" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="priceInput" class="form-label">Product Volume</label>
            <input id="priceInput" type="text" class="form-control" th:field="*{weight}">
        </div>
        <div class="mb-3">
            <label for="weightInput" class="form-label">Product Quantity:</label>
            <input id="weightInput" type="text" class="form-control" th:field="*{amount}">
        </div>
        <div class="mb-3">
            <label for="amountInput" class="form-label">Product Price</label>
            <input id="amountInput" type="text" class="form-control" th:field="*{price}">
        </div>

        <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Product Certificate</h3>
        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="PIDInput" class="form-label">เลขรหัสสินค้า</label>
                    <input id="PIDInput" type="text" class="form-control" name="productDescription" text="">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="PCIDInput" class="form-label">เลขใบรับรองผลิตภัณฑ์</label>
                    <input id="PCIDInput" type="text" class="form-control" name="productDescription" text="">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="productCertificateInput" class="form-label">Product Related Research</label>
            <input id="productCertificateInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Product Related Research</h3>
        <div class="row mb-4">
            <div class="col">
                <div class="mb-3">
                    <label for="PIDRRInput" class="form-label">เลขรหัสสินค้า</label>
                    <input id="PIDRRInput" type="text" class="form-control" name="productDescription" text="">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="PRRIDInput" class="form-label">เลขผลงานวิจัยที่รองรับผลิตภัณฑ์</label>
                    <input id="PRRIDInput" type="text" class="form-control" name="productDescription" text="">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="prodRelatedResearchNameInput" class="form-label">ชื่อผลงานวิจัยที่รองรับผลิตภัณฑ์</label>
            <input id="prodRelatedResearchNameInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="prodRelatedResearchFileInput" class="form-label">ไฟล์ผลงานวิจัยที่รองรับผลิตภัณฑ์</label>
            <input id="prodRelatedResearchFileInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Product Story Embedded Video</h3>
        <div class="mb-3">
            <label for="PIDPSInput" class="form-label">เลขรหัสสินค้า</label>
            <input id="PIDPSInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="productStoryEmbeddedVideoIDInput" class="form-label">Product Story Embedded Video ID</label>
            <input id="productStoryEmbeddedVideoIDInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="productStoryEmbeddedVideoInput" class="form-label">Product Story Embedded Video</label>
            <input id="productStoryEmbeddedVideoInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Food Traceability Embedded Video</h3>
        <div class="mb-3">
            <label for="PIDFTInput" class="form-label">เลขรหัสสินค้า</label>
            <input id="PIDFTInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="foodTraceabilityEmbeddedVideoIDInput" class="form-label">Food Traceability Embedded Video ID</label>
            <input id="foodTraceabilityEmbeddedVideoIDInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="foodTraceabilityEmbeddedVideoInput" class="form-label">Food Traceability Embedded Video</label>
            <input id="foodTraceabilityEmbeddedVideoInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Product Audio</h3>
        <div class="mb-3">
            <label for="PIDPAInput" class="form-label">เลขรหัสสินค้า</label>
            <input id="PIDPAInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="audioIDInput" class="form-label">Audio ID</label>
            <input id="audioIDInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div class="mb-3">
            <label for="AudioInput" class="form-label">Audio</label>
            <input id="AudioInput" type="text" class="form-control" name="productDescription" text="">
        </div>

        <div sec:authorize="hasRole('ADMIN')" class="text-center" style="padding-top: 30px; padding-bottom: 30px">
            <button type="submit" class="btn btn-danger">Edit Product</button>
        </div>

    </form>
</div>
</body>
</html>