<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/myStyle.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/myScript.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 75px;
        max-width: 1500px;
        height: 350px;
        border: 1px solid #9C9C9C;
        border-radius: 25px;
        background-color: #D9D9D9;
    }
    #login .container #login-row #login-column #login-box {
        margin-top: 75px;
        max-width: 1500px;
        height: 350px;
        border: 1px solid #9C9C9C;
        border-radius: 25px;
        background-color: #D9D9D9;
    }

</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: whitesmoke; margin-top:35px ;padding-bottom: 20px ;border-radius: 25px;">
    <h1 class="display-6 text-center" style="padding-left:-50px ; font-weight: bold; text-align:center; color: #dc3545 ;font-size: 45px ;margin-bottom: 50px; padding-top: 25px">ประกาศ อ.ย. ฉบับที่ 418</h1>

    <form th:action="@{/cakes/add}" method="POST">
        <div class="row mb-4">
            <div class="col text-center">
                <div class="mb-3">
                    <div id="check356-link" class="text-center">
                        <a class="text-danger" th:href="@{/products/check356}">ประกาศ อ.ย. ฉบับที่ 356</a>
                    </div>
                </div>
            </div>

            <div class="col text-center">
                <div class="mb-3">
                    <div id="check414-link" class="text-center">
                        <a class="text-danger" th:href="@{/products/check414}">ประกาศ อ.ย. ฉบับที่ 414</a>
                    </div>

                </div>
            </div>

            <div class="col text-center">
                <div class="mb-3">
                    <div id="check416-link" class="text-center">
                        <a th:href="@{/products/check416}" class="text-danger">ประกาศ อ.ย. ฉบับที่ 416</a>
                    </div>
                </div>
            </div>

            <div class="col text-center">
                <div class="mb-3">
                    <div id="check418-link" class="text-center">
                        <a th:href="@{/products/check418}" class="text-danger">ประกาศ อ.ย. ฉบับที่ 418</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="nameInput" class="form-label">เลขรหัสสินค้า</label>
                    <input id="nameInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label for="productInput" class="form-label">ชื่อสินค้าภาษาไทย</label>
                    <input id="productInput" type="text" class="form-control" name="productPrice">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="NAAFDA418Input" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 418</label>
            <input id="NAAFDA418Input" type="text" class="form-control" name="productCategory">
        </div>

        <div class="mb-3">
            <label for="sumBenzoicSorbicInput" class="form-label">เกณฑ์การตรวจกรดเบนโซอิกและซอร์บิค</label>
            <input id="sumBenzoicSorbicInput" type="text" class="form-control" name="productCategory">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="benzoicCInput" class="form-label">ปริมาณกรดเบนโซอิก</label>
                    <input id="benzoicCInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sorbicCInput" class="form-label">ปริมาณกรดซอร์บิค</label>
                    <input id="sorbicCInput" type="text" class="form-control" name="productNameTH">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="benzoicSorbicFInput" class="form-label">สรุปผลการตรวจสอบกรดซอร์บิค</label>
                    <input id="benzoicSorbicFInput" type="text" class="form-control" name="productOwnerID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="syntSInput" class="form-label">เกณฑ์การตรวจสีผสมอาหาร</label>
                    <input id="syntSInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="syntRInput" class="form-label">ปริมาณสีผสมอาหาร</label>
                    <input id="syntRInput" type="text" class="form-control" name="productNameTH">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="syntFInput" class="form-label">สรุปผลการตรวจสอบสีผสมอาหาร</label>
                    <input id="syntFInput" type="text" class="form-control" name="productOwnerID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="sodSInput" class="form-label">เเกณฑ์การตรวจเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodSInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sodRInput" class="form-label">ปริมาณเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodRInput" type="text" class="form-control" name="productNameTH">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sodFInput" class="form-label">สรุปผลการตรวจสอบเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodFInput" type="text" class="form-control" name="productOwnerID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="potasSInput" class="form-label">เกณฑ์การตรวจสอบกรดโปรแทสเซียมซอร์เบท</label>
                    <input id="potasSInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="potasRInput" class="form-label">ปริมาณโปรแทสเซียมซอร์เบท</label>
                    <input id="potasRInput" type="text" class="form-control" name="productNameTH">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="potasFInput" class="form-label">สรุปผลการตรวจสอบกรดโปรแทสเซียมซอร์เบท</label>
                    <input id="potasFInput" type="text" class="form-control" name="productOwnerID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="plateCountSInput" class="form-label">เกณฑ์การตรวจวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountSInput" type="text" class="form-control" name="productID"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="plateCountInput" class="form-label">ผลการตรวจวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountInput" type="text" class="form-control" name="productNameTH">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="plateCountFInput" class="form-label">สรุปผลการตรวจสอบวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountFInput" type="text" class="form-control" name="productOwnerID">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="text-center" style="padding-top: 25px; padding-bottom: 25px">
            <button type="submit" class="btn btn-danger">Check Product</button>
        </div>


    </form>
</div>
</body>
</html>